<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-4.0.xsd">
    
    <!--    <bean id="expressionHandler"
          class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
        <property name="permissionEvaluator" ref="myPermissionEvaluator"/>
    </bean>-->
    <beans:bean id="expressionHandler"
                class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler" />

    <http pattern="/login" security="none" />
    <http pattern="/css/**" security="none" />
    <http pattern="/js/**" security="none" />
    <http pattern="/img/**" security="none" />
    <http pattern="/fonts/**" security="none" />

    <http auto-config="true" use-expressions="true">
        <form-login login-processing-url="/j_spring_security_check"
                    login-page="/login"
                    authentication-failure-url="/login?login_error=1" />
        <logout logout-success-url="/" />
        
        <intercept-url pattern="/blog/remove/" access="ROLE_ADMIN" />
        <intercept-url pattern="/blog/edit/" access="ROLE_ADMIN" />
        <intercept-url pattern="/page/admin/" access="ROLE_ADMIN" />
        <intercept-url pattern="/page/administration/" access="ROLE_ADMIN" />
    </http>
    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service id="userService" 
                               data-source-ref="datasource"
                               users-by-username-query="SELECT USERNAME, PASSWORD, ENABLED FROM users WHERE USERNAME = ?"
                               authorities-by-username-query="SELECT DISTINCT(users.username), authority.authority FROM users INNER JOIN user_authority ON users.username = user_authority.username INNER JOIN authority ON user_authority.role_id = authority.role_id       
                                                WHERE users.username = ?"     />
        </authentication-provider>
    </authentication-manager>
        

</beans:beans>