<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-4.0.xsd">
    
    <!--    <bean id="expressionHandler"
          class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
        <property name="permissionEvaluator" ref="myPermissionEvaluator"/>
    </bean>-->
    <beans:bean id="expressionHandler"
                class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />
    
    <beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
    
    <http pattern="/login" security="none" />
    <http pattern="/user/register" security="none" />
    <http pattern="/css/**" security="none" />
    <http pattern="/js/**" security="none" />
    <http pattern="/img/**" security="none" />
    <http pattern="/fonts/**" security="none" />

    <http auto-config="true" use-expressions="false">
        <form-login login-processing-url="/j_spring_security_check"
                    login-page="/" username-parameter="username" password-parameter="password"
                    authentication-failure-url="/login?login_error=1" />
        <logout invalidate-session="true" logout-success-url="/" logout-url="/logout" />
        
        
        <intercept-url pattern="/admin/" access="ROLE_ADMIN" />
        <intercept-url pattern="/request/**" access="ROLE_USER" />
        <csrf disabled="true" />
    </http>
   <authentication-manager>
        <authentication-provider>
            <password-encoder ref="encoder" />
            <jdbc-user-service id="userService" 
                               data-source-ref="datasource"
                               users-by-username-query="SELECT USERNAME, PASSWORD, ENABLED FROM users WHERE USERNAME = ?"
                               authorities-by-username-query="SELECT USERNAME, AUTHORITY FROM authorities WHERE USERNAME = ?"     />
        </authentication-provider>
    </authentication-manager>
        

</beans:beans>