/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 9, 2015, 11:09:55 AM
    Author     : apprentice
*/
body{
    background-image: url("../img/Simple-Clouds.svg");
    margin: 5%;
}
#topNavBar{
    background-color: black;
}

#request-input-form{
    background-color: #BDBDBD;
    padding: 5%;
    border-radius: 5%;
    
}
#request-input-form-container{
    margin-top: 15%;
    
}

.error{
    color:red;
    font-size: small;
}