/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 9, 2015, 11:09:55 AM
    Author     : Yan Fayman
*/
.dark-primary-color   { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color { color: #FFFFFF; }
.accent-color          { background: #795548; }
.primary-text-color  { color: #212121; }
.secondary-text-color { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

body{
    //background-image: url("../img/Simple-Clouds.svg");
    margin: 5%;
}
#topNavBar{
    background-color: black;
}

#request-input-form{
    background-color: #BDBDBD;
    padding: 5%;

}
#request-input-form-container,#aboutContainer{
    margin-top: 15%;

}
.error{
    color:red;
    font-size: small;
}

.request-button{
     background: #03A9F4;
     color: #212121;
     border: #795548 thin solid;
}

.request-button:hover{
      background: #795548; 
      color: #FFFFFF;
}
button.active, button.active:hover {
    background: #0288D1;
    color: #212121;
}
#chart{
    border: #795548 thin solid;
    height: 400px;
    width: 80%;
}
